// start declare variables
$text-gray-800: #888888;
$text-gray-900: #e6e6e6;
$text-black-100: #191919;
$primary-color: #ffe200;
$max-zIndex: 999999999;
$border-gray-f8f8: #f8f8f8;
// end declare variables
